.my-carousel-indicator, .my-carousel-btn {
    display: block;
    width: 55px;
    height: 5px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 25px;
    transition: 2s ease-in-out;

    margin: 8px;
}

.my-carousel-indicator.active {
    border: 1px solid black;
}

.my-carousel-indicator-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.my-carousel-item {
    opacity: 0;
    transition: 2s ease-in-out;
}
.my-carousel-item.active {
    opacity: 1;
}

/* ============================================ */
.my-carousel-btn {
    position: absolute;
}
.my-carousel-btn.btn-prev {
    bottom: 2%;
    left: 10%;
    transform: translateY(0%);
}

.my-carousel-btn.btn-next {
    bottom: 2%;
    right: 10%;
    transform: translateY(0%);
}