footer {
    text-align: center;
    margin: 25px;
    margin-top: 75px;
    font-size: 14px;
    font-weight: 400;
}

footer * {
    margin: 0;
    padding: 0;
}
/* ========================================= */


.footer-container {
    display: grid;
    gap:20px;
    grid-template-columns: repeat(3, 1fr);
}

.footer-links {
    display: inline;
    gap: 0 5px;
    align-content: center;
    /* margin: 0px 55px; */
}

.footer-links.vertical {
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    align-items: start;
}
.footer-links.horizontal{
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-links a {
    text-decoration: none !important;
    color: black;
    margin-top: 5px;
    margin: 5px 10px;
}

.footer-links a:hover {
    /* font-weight: 600; */
    text-decoration: underline !important;
}

@media screen and (max-width: 1500px) {
    .footer-links {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .footer-links.horizontal {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .footer-text {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}