footer {
    margin: 25px;
    margin-top: 75px;
    font-size: 14px;
    font-weight: 400;
}
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.footer-icon {
    margin: 0px 15px;
}

.footer-text-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.footer-text {
    text-align: center;
}

.footer-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.footer-link {
    margin: 0px 15px;
}
.footer-link a {
    text-decoration: none !important;
    color: black;
}

.footer-link a:hover {
    text-decoration: underline !important;
}

@media screen and (max-width: 1350px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
    .footer-icons-container {
        /* text-align: left; */
        /* grid-column-start: 1; */
        /* grid-column-end: 2; */
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .footer-links-container {
        /* grid-column-start: 2; */
        /* grid-column-end: 3; */
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .footer-text-container {
        /* margin-top: 10px; */
        /* grid-column-start: 1; */
        /* grid-column-end: 3; */
        grid-row-start: 3;
        grid-row-end: 4;
    }
}