header {
    height: 255px;
    margin: 0 !important;
    padding: 0 !important;

    white-space: nowrap;
}

.header-project {
    height: 235px !important;
}

header a {
    color: #787878;
}

@media (min-width: 600px) {}

@media (min-width: 900px) {}

.header-container {
    position: relative;
}

.logoButton {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 34%);
}

.logoButton-main {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 30%);
}

.sideMenuButton {
    position: absolute;
    right: 0%;
    margin-top: 48px;
    margin-right: 64px;
    transform: translate(00%, 50%);
}


.sideMenuButton button {
    background-color: transparent;
    border: none;
    
    transition: all .5s ease-in-out;
}

.sideMenuButton svg {
    width: 38px;
    height: 38px;
    color: #787878;
}