.services-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;

    margin-top: 125px;
    margin-bottom: 400px;
}

.services-list-container,
.services-text-container {
    margin: 0 13%;
}

.services-text-container {
    font-weight: 600;
    font-size: 64px;
    line-height: 50px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}
.services-text-container span {
    margin-left: 10px;
}

.services-list-container {}

.services-list-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 18px;
}

.services-list-marker {
    background-color: transparent;
    border: 1px solid white !important;
    border-radius: 15px;
    width: 52px;
    height: 4px;
    margin-right: 20px;
}

@media screen and (max-width: 1400px) {
    .services-container {
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 250px;
    }

    .services-list-container,
    .services-text-container {
        margin: 0;
    }
    .services-text-container {
        text-align: center;
    }
    .services-text-container span {
        margin-left: 0px;
    }
    .services-list-container {
        margin-top: 45px;
    }
}