.offcanvas {
    font-size: 20px;
    font-weight: 400;
    --bs-offcanvas-transition: transform 1s ease-in-out;
    --bs-offcanvas-color: black;
    --bs-offcanvas-bg: rgba(255, 255, 255, 0.85);
    --bs-border-width: 0px !important;
    /* --bs-offcanvas-zindex: 1045; */
    --bs-offcanvas-width: 520px;
    /* --bs-offcanvas-height: 30vh; */
    /* --bs-offcanvas-padding-x: 1rem; */
    /* --bs-offcanvas-padding-y: 1rem; */
    /* --bs-offcanvas-color: var(--bs-body-color); */
    /* --bs-offcanvas-bg: var(--bs-body-bg); */
    /* --bs-offcanvas-border-width: var(--bs-border-width); */
    /* --bs-offcanvas-border-color: var(--bs-border-color-translucent); */
    /* --bs-offcanvas-box-shadow: var(--bs-box-shadow-sm); */
    /* --bs-offcanvas-transition: transform 0.3s ease-in-out; */
    /* --bs-offcanvas-title-line-height: 1.5; */
}

.offcanvas-backdrop.show {
    opacity: 0 !important;
}

.offcanvas-header .btn-close {
    margin: calc(3.4 * var(--bs-offcanvas-padding-y)) calc(3.5 * var(--bs-offcanvas-padding-x)) calc(-.5 * var(--bs-offcanvas-padding-y)) auto;
}

.offcanvas-body {
    padding-top: 34%;
    text-align: left;
    margin: 0 auto;
}

.offcanvas-body a {
    display: block;
    margin-bottom: 40px;
    color: #000;
    /* font-weight: bold; */
}

.offcanvas-body a:hover {
    text-decoration: underline !important;
}
@media screen and (max-width: 500px) {
    .btn-close {
        margin-right: 15px !important;
        margin-top: 55px !important;
    }   
}