.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.row::after {
    /* content: ""; */
    clear: both;
    display: table;
}

.slider .column img {
    margin: 0;
    padding: 0;
    max-height: 500px;
}