
/* ====================================================================================== */
@media screen and (min-width: 1400px) {
    .project-grid {
        display: grid;
        grid-template-columns: 1fr 2.5fr 1fr;
        grid-auto-rows: 550px;
    }

    #d1 {
        position: relative;
        cursor: pointer;
    }

    #title{
        transition: opacity 1s ease-in-out;
        font-size: 20px;
        font-weight: 400;
    }
    #text {
        transition: opacity 1s ease-in-out;
        /* font-size: 16px; */
        font-size: .9vw;
        font-weight: 400;
    }

    #title {
        text-align: center;
    }

    .hide {
        opacity: 0;
    }

    .project-text {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
        padding: 55px;
        text-align: left;
    }

    #d2 {
        /* padding: 0px 25px; */
        position: relative;
    }

    .project-carousel {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .my-carousel-item {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .my-carousel-item>img {
        max-width: 100%;
        max-height: 100%;
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* ========================================== */
    .my-carousel-double {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }

    .my-carousel-double-item {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .my-carousel-double-item>img {
        max-width: 100%;
        max-height: 100%;
    }

    .my-carousel-bottom {
        /* all: initial; */
        max-width: 50%;
        margin: 0px auto;
        margin-top: 15px;
        margin-bottom: 200px;
    }

    .project-name {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        margin-top: 10px;
    }
}
/* ====================================================================================== */
@media screen and (max-width: 1400px) {

    #d1,
    #d3 {
        visibility: hidden;
        margin: 0;
        padding: 0;
        height: 0;
        width: 0;
    }

    .project-grid {
        display: block;
    }

    #d2 {
        /* border: 1px solid red; */
        margin: 0 10%;
    }

    .my-carousel-item {
        width: 100% !important;
        margin-bottom: 25px !important;
        display: block !important;
        opacity: 1 !important;
    }
    .my-carousel-item>img {
        max-width: 100%;
        max-height: 100%;
    }
    .project-name {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }
}
/* @media (min-width: 1351px) and (max-width: 1700px) {
    .project-grid {
        grid-auto-rows: 400px;
    }
    .project-text {
        padding: 35px;
    }
} */